body {
    padding: 40px 20px;
    font-family: "Roboto Slab", serif;
  }
  
  h6 {
    font-weight: 800;
  }
  
  .navigation-item {
    border: solid rgb(199, 199, 199);
    border-width: 0 2px 0 0;
    height: 20px;
  }
  .center-div {
    text-align: center;
  }
  .main-header {
    position: relative;
    bottom: 10px;
    right: 15px;
    font-weight: lighter;
    color: rgb(165, 165, 165);
    font-size: 12px;
  }
  .short-box-wrapper {
    padding: 10px 20px;
    margin-bottom: 15px;
  }
  .short-box {
    height: 5px;
    width: 25px;
    background-color: black;
  }
  .wrapper {
    padding: 0 43px;
  }
  .project-image {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  }
  .project-price {
    display: inline-block;
    font-weight: 800;
  }
  .or-more {
    display: inline-block;
    font-weight: 800;
    position: relative;
    bottom: 7px;
  }
  .project-name {
    font-weight: 800;
  }
  .project-content-light {
    font-size: 14px;
    font-family: "Roboto Slab";
    font-weight: 200;
    color: rgb(100, 100, 100);
  }
  
  .project-content-heavy {
    font-size: 14px;
    font-weight: 800;
    color: black;
  }
  .delivery-date {
    position: absolute;
    font-size: 14px;
    right: 50px;
    color: rgb(100, 100, 100);
    font-family: "Roboto Slab";
    font-weight: 200;
  }
  .content-box:after {
    content: "";
    display: inline-block;
    margin: 0;
    width: 50%;
    padding-top: 32px;
    border-left: 2px solid rgb(199, 199, 199);
    border-right: 2px solid rgb(199, 199, 199);
    position: relative;
    bottom: 53px;
  }
  .status-colored-div {
    background-color: rgb(252, 135, 154);
    padding: 5px 8px;
    display: inline-block;
    position: relative;
    right: 10%;
  }
  .status-colored-div-green {
    background-color: rgb(55, 255, 5);
    padding: 5px 8px;
    display: inline-block;
    position: relative;
    right: 10%;
  }
  

  .available-stat {
    color: white;
    margin-bottom: 0;
  }
  